@using PagedList.Mvc;
@using PagedList;
@model IPagedList<ttcm_quan_li_sinh_vien.EF.User>

@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessage"]
    </div>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 animated bounceInRight">
                <h1 class="m-0"><span class="fa fa-people-arrows"></span> Danh sách sinh viên</h1>
            </div>
            <div class="col-sm-6">
                @using (Html.BeginForm("SearchUser", "Admin", FormMethod.Post))
                {
                    <input type="search" id="searchUser" name="searchUser" class="form-control" placeholder="Tìm kiếm tài khoản..." aria-controls="example1">
                }
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card-body animated pulse">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Mật khẩu</th>
                        <th>Chức vụ</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Username</td>
                                <td>@item.Password</td>
                                @if (item.RoleID == "admin")
                                {
                                    <td>Quản trị viên</td>
                                }
                                else if (item.RoleID == "teacher")
                                {
                                    <td>Giảng viên</td>
                                }
                                else
                                {
                                    <td>Sinh viên</td>
                                }
                                @if (item.Status == true)
                                {
                                    <td>Hoạt động</td>
                                }
                                else
                                {
                                    <td>Không hoạt động</td>
                                }
                                <td class="text-right">
                                    <a class="btn btn-sm btn-success" href="@Url.Action("UpdateUser", "Admin", new { id = item.Username})">
                                        <i class="fa fa-pen"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger" href="@Url.Action("DeleteUser", "Admin", new { id = item.Username})" data-toggle="modal"
                                       data-target="#delete">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("ManageUser", new { page }), new PagedListRenderOptions
                       {
                           UlElementClasses = new[] { "pagination" }
                       })
        </div>
    </div>
</section>

