@using PagedList.Mvc;
@using PagedList;
@model IPagedList<ttcm_quan_li_sinh_vien.EF.TEACHER>

@{
    ViewBag.Title = "SearchTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 animated bounceInRight">
                <h1 class="m-0"><span class="fa fa-chalkboard-teacher"></span> Danh sách giảng viên</h1>
            </div>
            <div class="col-sm-6">
                @using (Html.BeginForm("SearchTeacher", "Admin", FormMethod.Post))
                {
                    <input type="search" id="searchTeacher" name="searchTeacher" class="form-control" placeholder="Tìm kiếm giảng viên..." value="@ViewBag.SearchTeacher" aria-controls="example1">
                }
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card-body animated pulse">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Ảnh đại diện</th>
                        <th>Thông tin giảng viên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Khoa giảng dạy</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                @if (item.Image == null)
                                {
                                    <td><img src="~/assets/img/profile.png" width="100" alt="Ảnh đại diện"> <br /> ID: @item.TeacherID</td>
                                }
                                else
                                {
                                    <td><img src="~/assets/img/teacher/@item.Image" width="100" alt="Ảnh đại diện"> <br /> ID: @item.TeacherID</td>
                                }
                                <td>
                                    <p class="info">Họ tên: <b>@item.FullName</b></p>
                                    <p class="info"><small>Điện thoại: <b>@item.PhoneNumber</b></small></p>
                                    <p class="info"><small>Địa chỉ: <b>@item.Address</b></small></p>
                                    <p class="info"><small>Email: <b>@item.Email</b></small></p>
                                </td>
                                <td>@item.Gender</td>
                                <td>@(item.Birthday.HasValue ? item.Birthday.Value.ToString("dd/MM/yyyy") : "Trống")</td>
                                <td>@item.FACULTY.Name</td>
                                <td class="text-right">
                                    <a class="btn btn-sm btn-success" href="@Url.Action("UpdateTeacher", "Admin", new { id = item.TeacherID})">
                                        <i class="fa fa-pen"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger" href="@Url.Action("DeleteTeacher", "Admin", new { id = item.TeacherID})" data-toggle="modal"
                                       data-target="#delete">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("ManageTeacher", new { page, @searchTeacher = ViewBag.SearchTeacher }), new PagedListRenderOptions
                       {
                           UlElementClasses = new[] { "pagination" }
                       })
        </div>
    </div>
</section>

