@model ttcm_quan_li_sinh_vien.EF.TEACHER
@{
    ViewBag.Title = "UpdateTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 animated bounceInRight">
                <h1 class="m-0"><span class="fa fa-plus"></span> Cập nhật thông tin giảng viên</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Thông tin giảng viên</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @*, new { enctype = "multipart/form-data" }*@
            @using (Html.BeginForm("UpdateTeacher", "Admin", FormMethod.Post))
            {
                <span class="text-danger">@ViewBag.ErrorTeacher</span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mã giảng viên</label>
                                @Html.TextBoxFor(m => m.TeacherID, new { @class = "form-control", @placeholder = "Mã giảng viên", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.TeacherID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Khoa</label>
                                @Html.DropDownListFor(m => m.FacultyID, ViewBag.Faculty as SelectList, "-- Chọn khoa --", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Họ tên</label>
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "Họ tên" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ngày sinh</label>
                                @Html.TextBoxFor(m => m.Birthday, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Giới tính</label>
                                @Html.TextBoxFor(m => m.Gender, new { @class = "form-control", @placeholder = "Giới tính" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Địa chỉ</label>
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Địa chỉ" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Điện thoại</label>
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Điện thoại" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ảnh đại diện</label>
                                @*<input type="file" id="fileName" name="fileName" accept="image/*" />*@
                                @Html.TextBoxFor(m => m.Image, new { @class = "form-control", type = "file" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            }
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
